$item-size: 282px;
$gap: 20px;

.elements {
  @include centered-repeated-grid(
    $el-width: $item-size,
    $gap: $gap
  );
  width: 100%;
  margin: 50px auto 0;

  &__item {
    width: 100%;
    background-color: $light-color;
    border-radius: $border-radius-l;
    margin: auto;
    box-sizing: border-box;
    position: relative;
  }

  &__photo {
    display: block;
    width: 100%;
    height: $item-size;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $dark-color;
    color: $light-color;
    border: {
      top-left-radius: $border-radius-l;
      top-right-radius: $border-radius-l;
    }
    object: {
      fit: cover;
      position: center top;
    }
  }

  &__title-flex-box {
    @include flex-space-between;
    gap: $gap;
    padding: $gap;
    min-height: 19px;
  }

  &__title {
    @include title;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__like {
    @include background-image(
      $img: "../../images/like.svg"
    );
    min-width: 22px;
    height: 19px;
    padding: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
    transition: all $transition-duration;

    &:hover {
      opacity: $hover-opacity;
    }

    &_active {
      background-image: url(../../images/like-active.svg);
    }
  }

  &__like-count {
    font: {
      style: normal;
      weight: 400;
      size: 13px;
    }
    line-height: 16px;
    text-align: center;
    margin: 3px auto 0;
  }

  &__trash {
    @include background-image(
      $img: "../../images/trash.svg"
    );
    width: 18px;
    height: 19px;
    border: none;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: $gap;
    right: $gap;
    cursor: pointer;
    transition: all $transition-duration;

    &:hover {
      opacity: $hover-opacity;
    }
  }

  @media screen and (max-width: $laptop-size) {
    width: 90%;
  }

  @media screen and (max-width: $mobile-size) {
    width: calc(100% - #{$side-padding * 2});
    margin-top: 36px;
  }
}
