.profile {
  @include flex-space-between;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  gap: 100px;

  &__info {
    @include flex-center;
    gap: 30px;
    position: relative;
  }

  &__avatar-box,
  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &__avatar-box {
    position: relative;

    &:hover .profile__edit-avatar-btn {
      opacity: 1;
      visibility: visible;
    }
  }

  &__avatar {
    object-fit: cover;
  }

  &__name-flex-box {
    display: flex;
    align-items: baseline;
    gap: 18px;
  }

  &__name {
    font: {
      style: normal;
      weight: 500;
      size: 42px;
    }
    line-height: 1.14;
    margin: 0 0 16px;
    color: $light-color;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 350px;
  }

  &__about {
    font: {
      style: normal;
      weight: 400;
      size: 18px;
    }
    line-height: 22px;
    margin: 0;
    color: $light-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 350px;
  }

  &__edit-avatar-btn {
    @include background-image(
      $img: "../images/edit-button.svg",
      $size: 26px
    );
    @include btn(
      $radius: 50%,
      $back-color: rgb(0, 0, 0, 0.8)
    );
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__edit-btn {
    @include background-image(
      $img: "../images/edit-button.svg",
      $size: auto
    );
    @include btn($border: $btn-light-border);
    width: 24px;
    height: 24px;
  }

  &__add-btn {
    @include btn($border: $btn-light-border);
    @include background-image(
      $img: "../images/add-button.svg",
      $size: auto
    );
    width: 150px;
    height: 50px;
  }

  @media screen and (max-width: $laptop-size) {
    width: 90%;
  }

  @media screen and (max-width: $tablet-size) {
    gap: 50px;

    &__name {
      font-size: 27px;
      line-height: 33px;
    }

    &__about {
      font-size: 14px;
      line-height: 17px;
    }

    &__add-btn {
      width: 80px;
    }
  }

  @media screen and (max-width: 800px) {
    &__name,
    &__about {
      max-width: 250px;
    }
  }

  @media screen and (max-width: 700px) {
    &__name,
    &__about {
      max-width: 220px;
    }
  }

  @media screen and (max-width: $mobile-size) {
    width: calc(100% - 38px);
    flex-direction: column;
    margin-top: 42px;
    gap: 36px;

    &__info {
      flex-direction: column;
      gap: 26px;
    }

    &__name-flex-box {
      gap: 10px;
    }

    &__name {
      max-width: calc(100vw - 66px);
      text-align: center;
      margin-bottom: 14px;
    }

    &__about {
      max-width: calc(100vw - 66px);
      text-align: center;
    }

    &__edit-btn {
      width: 18px;
      height: 18px;
      background-size: 7.5px;
    }

    &__add-btn {
      width: 100%;
      background-size: 16px;
    }
  }
}
