.root {
  font-family: $font-family;
  max-width: 880px;
  width: 78%;
  background-color: $dark-color;
  box-sizing: border-box;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media screen and (max-width: $laptop-size) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-size) {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
